{% extends 'backend/achat/index.html.twig' %}
{% block title %} sous categorie  {% endblock  %}
{% block content %}
    <h1>Sous categorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousCategorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sousCategorie.name }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ sousCategorie.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscategorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('souscategorie_edit', { 'id': sousCategorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
