{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block  content %}
    {{ form_start(form) }}
    <div class ="container">
         <div class="panel panel-primary">
             <div class ="panel-heading">
            <i class ="icon_menu"></i>Passer En Perte
             </div>

                <div class ="panel-body">
                     <table class ="table-condensed">
                          <tr>
                              <td>Date Perte :</td>
                              <td>
                                  <input type="submit" value = "DATE DU JOUR" name="bt" class="btn btn-success">
                              </td>
                          </tr>
                     </table>
                    {{ form_start(f) }}
                     <table class ="table">
                         <tr>
                             <th class="col-md-1">Perte</th>
                              <th class="col-md-1">Produit</th>
                              <th class="col-md-1">Qté</th>
                              <th class="col-md-1">Raison Perte</th>
                             <th class="col-md-1">Action</th>
                         </tr>
                         <tr>
                             <td class ="col-lg-1">
                                 {{ form_widget(f.perte) }}
                             </td>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.produit) }}
                              </td>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.quantite) }}
                              </td>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.raisonPerte) }}
                              </td>
                             <td class ="col-lg-1">
                                 <input type="submit" value="PERDU" name ="bt" class="btn btn-warning">
                             </td>
                         </tr>
                         <tr>
                             <td class ="col-lg-1"><a href="{{ path('stockage_listePerte') }}">VOIR LES PERTES</a></td>
                         </tr>
                     </table>
                     {{ form_end(f) }}

                </div>
             </div>
          </div>
    {{ form_end(form) }}
{% endblock %}