{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class ="container">
         <div class="panel panel-primary">
             <div class ="panel-heading">
            <i class ="icon_menu"></i>Passer En Perte
             </div>

                <div class ="panel-body">
                     <table class ="table-condensed">
                        {#  <tr>
                               <td>Numéro Perte :</td>
                               <td>{{ form_widget(form.id) }}</td>

                          </tr>#}
                          <tr>
                              <td>Date Perte :</td>
                              <td>{{ form_widget(form.dateCreation) }}</td>
                          </tr>
                     </table>
                </div>
             </div>
              <tfoot>
                    <input type="submit" value = "Valider" name="bt" class="btn btn-success">
              </tfoot>
         </div>
    {{ form_end(form) }}

    <div class ="container">
        <div class="panel panel-primary">
            <div class ="panel-heading">
                <i class ="icon_menu"></i>Ajouter une ligne de perte
            </div>

            <div class ="panel-body">
                     {{ form_start(f) }}
                     <table class ="table">
                         <tr>
                              <th class="col-md-1">Produit</th>
                              <th class="col-md-1">Qté</th>
                              <th class="col-md-1">Raison Perte</th>
                         </tr>
                         <tr>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.produit) }}
                              </td>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.quantite) }}
                              </td>
                              <td class ="col-lg-1">
                                   {{ form_widget(f.raisonPerte) }}
                              </td>
                         </tr>
                         <tr>
                             <th class="col-md-1">Perte</th>
                         </tr>
                         <tr>
                             <td class ="col-lg-1">
                                 {{ form_widget(f.perte) }}
                             </td>
                         </tr>
                     </table>
            </div>

        </div>
            <tfoot>
                 <input type="submit" value="Add" name ="bt" class="btn btn-success" >
            </tfoot>
    </div>
    {{ form_end(f) }}
{% endblock %}