
{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}





{% block content %}




    <h1>Liste des inbentaires caisses</h1>



            <table id="tab1" class="display table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>


            <th>Date creation</th>
            <th>Solde cheque</th>
            <th>Solde espece</th>
            <th>Solde theorique</th>

            <th>Solde calculer</th>
            <th>Ecart</th>
                    <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for inventaireCaisse in inventaireCaisses %}
            <tr>

                <td>{% if inventaireCaisse.dateCreation %}{{ inventaireCaisse.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inventaireCaisse.soldeCheque }}</td>
                <td>{{ inventaireCaisse.soldeEspece }}</td>
                <td>{{ inventaireCaisse.soldeTheorique }}</td>
                <td>{{ inventaireCaisse.soldeCalculer }}</td>
                <td>{{ inventaireCaisse.ecart }}</td>





                {% if ("now"|date('Y-m-d') ==  inventaireCaisse.dateCreation|date('Y-m-d') ) %}

                <td>

                    <a  class="btn btn-success btn-xs btn-labeled href="{{ path('inventairecaisse_modifier',{'id':inventaireCaisse.id}) }}">modifier</a>
                    <a class="btn btn-danger btn-xs btn-labeled" href="{{ path('inventaire_supprimer',{'id':inventaireCaisse.id}) }}">supprimer <span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></a>



                </td>

                {% endif %}



            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="label label-success label-bordered" href="{{  path('Tresorerie_inventairecaisse_ajouter') }}">Ajouter inventaire caisse</a>


{% endblock %}



