
{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}





{% block content %}


<script>
    $(function($) {
        $('#tab-1').DataTable();
    });

</script>

<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h5>Liste des inventaire caisse</h5>
            </div>
        </div>
        <div class="panel-body p-20">




            <table id="tab1" class="display table table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>


            <th>Date creation</th>
            <th>Solde cheque</th>
            <th>Solde espece</th>
            <th>Solde theorique</th>

            <th>Solde calculer</th>
            <th>Ecart</th>
                    <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for inventaireCaisse in inventaireCaisses %}
            <tr>

                <td>{% if inventaireCaisse.dateCreation %}{{ inventaireCaisse.dateCreation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inventaireCaisse.soldeCheque }}</td>
                <td>{{ inventaireCaisse.soldeEspece }}</td>
                <td>{{ inventaireCaisse.soldeTheorique }}</td>
                <td>{{ inventaireCaisse.soldeCalculer }}</td>
                <td>{{ inventaireCaisse.ecart }}</td>





                {% if ("now"|date('Y-m-d') ==  inventaireCaisse.dateCreation|date('Y-m-d') ) %}

                <td><a href="{{ path('inventairecaisse_modifier',{'id':inventaireCaisse.id}) }}">modifier</a> </td>
                <td><a href="{{ path('inventaire_supprimer',{'id':inventaireCaisse.id}) }}">supprimer</a> </td>

                {% endif %}



            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('Tresorerie_inventairecaisse_ajouter') }}">Ajouter inventaire caisse</a>


{% endblock %}



