
{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}

{% block content %}
    <h1>Modifier inventaire caisse</h1>
    {{ form_start(form) }}
    <table>





        <tr><td>Total solde cheque</td><td>{{ inv.soldeCheque }}</td></tr>
        <tr><td>Total solde espece</td><td>{{ inv.soldeEspece }}</td></tr>
        <tr><td>Total solde theorique</td><td>{{ inv.SoldeTheorique }}</td></tr>
        <tr><td>Solde calculer</td><td>{{ form_widget(form.soldeCalculer) }}</td></tr>
        <tr>
            <td></td><td>{{ form_errors(form.soldeCalculer) }}</td>
        </tr>
        <tr><td>ecart</td><td>{{ form_widget(form.ecart) }}</td></tr>
        <tr>
            <td></td><td>{{ form_errors(form.ecart) }}</td>
        </tr>



        <tr><td></td><td>{{ form_widget(form.Modifier) }}</td></tr>
        {{ form_end(form) }}
    </table>




{% endblock %}



