{% extends 'backend/logistique/index.html.twig' %}
{% block title %} Liste des chauffeurs {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <section class="section" >
        <div class="container-fluid">

            <div class="row" >
                <div class="col-md-8 col-md-offset-2" >


                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5 class="container-fluid" style="text-align: center">chauffeur</h5>
                            </div>
                        </div>
                        <div class="panel-body p-20">
                            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                               <thead>
                                <tr>
                                    <th>nom</th>
                                    <th>prenom</th>
                                    <th>adresse</th>
                                    <th>cin</th>
                                    <th>Voyage</th>
                                    <th>Action</th>

                                </tr>
                                </thead>

                                {% for e in aaa %}
                                    <tr>
                                        <td>{{ e.nom}}</td>
                                        <td>{{ e.prenom}}</td>
                                        <td>{{ e.adresse}}</td>
                                        <td>{{ e.cin}}</td>
                                        <td>{{ e.voyage}}</td>

                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs btn-labeled"style="color: white"><a href="{{ path('deletechauf',{'cin':e.cin})}}" class="checkout-button button alt wc-forward rounded"style="color: white">Supprimer<span class="btn-label btn-label-right"style="color: white"><i class="fa fa-times"></i></span></button>
                                            <button type="button" class="btn btn-success btn-xs btn-labeled"style="color: white">  <a href="{{ path('updatechauf',{'cin':e.cin})}}" class="checkout-button button alt wc-forward rounded"style="color: white">Modifier</a><span class="btn-label btn-label-right"style="color: white"><i class="fa fa-check"></i></span></button>

                                        </td>

                                    </tr>

                                {% endfor %}
                                </tbody>

                            </table>

                            <!-- ========== JS ========== -->
                            <script>
                                $(function($) {
                                    $('#example').DataTable();
                                });
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



