{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}
{% block title %} table {% endblock %}

{% block content %}
    <div class ="container">
    <div class="panel panel-primary">
    <div class ="panel-heading">
        <i class ="icon_menu"></i>Parametres Entrepot
    </div>

    <div class ="panel-body">
    <table class ="table-condensed">
    <tr>
        <th class="col-md-1">Matricule fiscale</th>
        <th class="col-md-1">Adresse</th>
        <th class="col-md-1">Raison sociale</th>
        <th class="col-md-1">Adresse mail</th>
        <th class="col-md-1">Numéro de téléphone</th>
        <th class="col-md-1">Action <br> Modification</th>
        {#<th>Action <br> Suppression</th>#}

    </tr>
    {%for f in entrepots %}
        <tr>
        <td class="col-md-1">{{f.matriculeFiscal}}</td>
        <td class="col-md-1">{{f.adresse}}</td>
        <td class="col-md-1">{{f.raisonSocial}}</td>
        <td class="col-md-1">{{f.adresseMail}}</td>
        <td class="col-md-1">{{f.numeroTel}}</td>
        <td class="col-md-1"><a href="{{ path('stockage_modifierEntrepot',{'matriculeFiscal':f.matriculeFiscal}) }}"><button type="button" class="btn btn-warning" >Modifier</button></a></td>
        {#<td><a href="{{ path('stockage_supprimerEntrepot',{'matriculeFiscal':f.matriculeFiscal}) }}">Supprimer</a> </td>#}
    </tr>
    {% endfor %}

</table>
    </div>
    </div>
    </div>


{% endblock %}