{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
    <div class ="container">
        <div class="panel panel-primary">
            <div class ="panel-heading">
                <i class ="icon_menu"></i>Modification des parametres de l'entrepot
            </div>

            <div class ="panel-body">
                <fieldset style="width: 50%">
                    <form method="POST">
                        <table class ="table-condensed">
                            <tr>
                                <td class ="col-lg-1">Matricule fiscale:</td><td class ="col-lg-1"><input type="text" name="matriculeFiscal" value="{{entrepot.matriculeFiscal}}">
                                </td>
                            </tr>
                            <tr>
                                <td class ="col-lg-1">Adresse:</td><td class ="col-lg-1"><input type="text" name="adresse" value="{{entrepot.adresse}}"></td>
                            </tr>
                            <tr>
                                <td class ="col-lg-1">Raison social:</td><td class ="col-lg-1"><input type="text" name="raisonSocial" value="{{entrepot.raisonSocial}}"></td>
                            </tr>
                            <tr>
                                <td class ="col-lg-1">Adresse Mail:</td><td class ="col-lg-1"><input type="text" name="adresseMail" value="{{entrepot.adresseMail}}"></td>
                            </tr>
                            <tr>
                                <td class ="col-lg-1">Numéro Téléphone:</td><td class ="col-lg-1"><input type="text" name="numeroTel" value="{{entrepot.numeroTel}}"></td>
                            </tr>
                            <tr>
                                <td class ="col-lg-1"><input type="submit" value="Valider" name ="bt" class="btn btn-success"></td>
                            </tr>
                        </table>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}