{% extends 'backend/achat/index.html.twig' %}
{% block title %} les bons de retour {% endblock  %}

{% block content %}
<section class="section">


    <div class="col-md-8 col-md-offset-2">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5 style="text-align: center">bons de retour</h5>
                </div>
            </div>
            <div class="panel-body p-20">

                <table class="table table-striped">


                <table>
        <thead border="2">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Motif de retour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bonRetour in bonRetours %}
            <tr>
                <td><a href="{{ path('bonretour_show', { 'id': bonRetour.id }) }}">{{ bonRetour.id }}</a></td>
                <td>{% if bonRetour.date %}{{ bonRetour.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bonRetour.motifDeRetour }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bonretour_show', { 'id': bonRetour.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bonretour_edit', { 'id': bonRetour.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bonretour_new') }}">Create a new bonRetour</a>
        </li>
    </ul>
{% endblock %}
