{% extends 'backend/logistique/index.html.twig' %}
{% block title %} liste des Aide chauffeurs{% endblock %}
{% block content %}
    <section class="section">


    <div class="col-md-8 col-md-offset-2">
    <div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <h5 style="text-align: center">Liste des Aide chauffeurs</h5>
        </div>
    </div>
    <div class="panel-body p-20">

    <table class="table table-striped">
    {% block body %}
    <table border="2">
        <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>adresse</th>
            <th>cin</th>
            <th>Action</th>
        </tr>
        {% for e in aidechauffeur %}
            <tr>
                <td>{{ e.nom}}</td>
                <td>{{ e.prenom}}</td>
                <td>{{ e.adresse}}</td>
                <td>{{ e.cin}}</td>
                <td><a href="{{ path('deleteAchauf',{'cin':e.cin})}}"> Supprimer </a><br><a href="{{ path('updateAchauf',{'cin':e.cin})}}"> modifier</a></td>
            </tr>
        {% endfor %}
        {% endblock %}
{% endblock %}