{% extends 'backend/achat/index.html.twig' %}
{% block title %} modifier le fournisseur  {% endblock  %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h2 style="text-align: center">Modifier le fournisseur</h2>
            </div>

        </div>


    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a href="{{ path('fournisseur_index') }}"><button type="button" class="btn btn-primary btn-wide">
                    Retour a la liste</button></a>

            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}