{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}

{% block content %}

    <h2>liste des recouvrement client par espece  </h2>

    <table border="1" class="display table table-bordered table-striped" cellspacing="0" width="100%">
        <tr>
            <th>montant</th>
            <th>Date creation</th>
            <th>facture</th>
            <th>Action</th>

        </tr>
        {%for r in roucouvrementE %}  <tr>
            <td>{{r.montant}}</td>
            <td>{{r.dateCreation|date('Y-m-d')}}</td>
            <td>{{r.facture.id}}</td>


            <td><a class="btn btn-success btn-xs btn-labeled" href="{{ path('tresorerie_modifierRecouvrementEspece',{'id':r.id}) }}">modifier</a>
             <a class="btn btn-danger btn-xs btn-labeled" href="{{ path('tresorerie_supprimerRecouvrementEspece',{'id':r.id}) }}">supprimer<span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></a> </td>






        </tr>    {% endfor %}

    </table>

    <a class="label label-success label-bordered" href="{{ path('tresorerie_ajouterRecouvrementEspece') }}">Ajouter recouvrement en espece</a>


    <h2>liste des recouvrement client par cheque  </h2>

    <table border="1" class="display table table-bordered table-striped" cellspacing="0" width="100%">
        <tr>
            <th>montant</th>
            <th>Date creation</th>
            <th>numero cheque</th>
            <th>Date cheque</th>
            <th>facture</th>
            <th>Action</th>

        </tr>
        {%for r in recouvrementC %}  <tr>
            <td>{{r.montant}}</td>
            <td>{{r.dateCreation|date('Y-m-d')}}</td>
            <td>{{r.numeroCheque}}</td>
            <td>{{r.dateCheque|date('Y-m-d')}}</td>
            <td>{{r.facture.id}}</td>




            <td><a class="btn btn-success btn-xs btn-labeled" href="{{ path('tresorerie_modifierRecouvrementCheque',{'id':r.id}) }}">modifier</a>
            <a class="btn btn-danger btn-xs btn-labeled" href="{{ path('tresorerie_supprimerRecouvrementCheque',{'id':r.id}) }}">supprimer<span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></a> </td>






        </tr>    {% endfor %}

    </table>

    <a  class="label label-success label-bordered" href="{{ path('tresorerie_ajouterRecouvrementCheque') }}">Ajouter recouvrement en cheque</a>


{% endblock %}