{% extends 'backend/logistique/index.html.twig' %}
{% block title %} liste des vehicules {% endblock %}
{% block content %}
    <section class="section">


    <div class="col-md-8 col-md-offset-2">
    <div class="panel">
    <div class="panel-heading">
        <div class="panel-title">
            <h5 style="text-align: center">Liste des vehicules</h5>
        </div>
    </div>
    <div class="panel-body p-20">

    <table class="table table-striped">

    {% block body %}
    <table border="2">
        <tr>
            <th>mtricule</th>
            <th>type</th>
            <th>capacite</th>
            <th>etat</th>
            <th>Action</th>



        </tr>
        {% for e in vehicule %}
            <tr>
                <td>{{ e.matricule }}</td>
                <td>{{ e.type}}</td>
                <td>{{ e.capacite }}</td>
                <td>{{ e.etat}}</td>
                <td><a href="{{ path('delete',{'id':e.id})}}"> Supprimer </a><br><a href="{{ path('update',{'id':e.id})}}"> modifier</a></td>
            </tr>
        {% endfor %}
        {% endblock %}
{% endblock %}