{% extends 'backend/logistique/index.html.twig' %}
{% block title %} Liste des vehicules {% endblock %}

{% block content %}

    <section class="section" >
        <div class="container-fluid">

            <div class="row" >
                <div class="col-md-8 col-md-offset-2" >


                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5 class="container-fluid" style="text-align: center">liste des vehicules</h5>
                            </div>
                        </div>
                        <div class="panel-body p-20">
                            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>

                                <tr>
                                    <th>matricule</th>
                                    <th>type</th>
                                    <th>capacite</th>
                                    <th>etat</th>
                                    <th>Action</th>



                                </tr>
                                </thead>

                                {% for e in vehicule %}
                                    <tr>
                                        <td>{{ e.matricule }}</td>
                                        <td>{{ e.type}}</td>
                                        <td>{{ e.capacite }}</td>
                                        <td>{{ e.etat}}</td>


                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs btn-labeled"style="color: white"><a href="{{ path('vehicule_delete',{'id':e.id})}}" class="checkout-button button alt wc-forward rounded"style="color: white">Supprimer<span class="btn-label btn-label-right"><i class="fa fa-times"></i></span></button>
                                            <button type="button" class="btn btn-success btn-xs btn-labeled"style="color: white">  <a href="{{ path('vehicule_update',{'id':e.id})}}" class="checkout-button button alt wc-forward rounded"style="color: white">Modifier</a><span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>

                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>

                            <!-- ========== JS ========== -->
                            <script>
                                $(function($) {
                                    $('#example').DataTable();
                                });
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}



