{% extends 'frontend/Vente/index.html.twig' %}
{% block title %} Liste des Commandes {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <section class="section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <script
                            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                            crossorigin="anonymous"></script>


                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5 class="container-fluid" style="text-align: center">Liste des commandes</h5>


                            </div>
                        </div>
                        <div class="panel-body" >

                            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                    <th>etat</th>
                                    <th>Taux Remise</th>
                                    <th>User</th>
                                    <th>Action</th>



                                </tr>
                                </thead>
                                <tbody>


                                {% for e in liste %}

                                    <tr>
                                        <th scope="row">{{e.id}}</th>

                                        <td>{{e.totalC}}</td>
                                        <td>{{e.dateC | date}}</td>
                                        <td>{% if e.etat == 'valider' %}<span class="label label-success label-wide">{{e.etat}}</span>
                                            {% elseif e.etat == 'En attente' %}
                                                <span class="label label-warning label-wide">{{e.etat}}</span>
                                            {% endif %}</td>
                                        <td>{{e.tauxRemise}}</td>



                                        <td>{{e.user}}</td>

                                        <td>
                                            <button type="button" class="btn btn-info btn-xs btn-labeled next-btn">  <a href="{{ path('detail-commande',{'id':e.id}) }}" class="checkout-button button alt wc-forward rounded" style="color: aliceblue"> Details </a><span class="btn-label btn-label-right"><i class="fa fa-pencil"></i></span></button>

                                        </td>
{% if e.etat !='valider' %}
                                        <td>    <button type="button" class="btn btn-success btn-xs btn-labeled"> <a href="{{ path('bon',{'id':e.id}) }}"> Livrer </a> <span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button></td>

                                        {% endif %}
                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                            <script>
                                $(function($) {
                                    $('#example').DataTable();
                                });
                            </script>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}