{% extends 'backend/Vente/index.html.twig' %}
{% block title %} Liste des Factures {% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <section class="section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <script
                            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
                            crossorigin="anonymous"></script>


                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5 class="container-fluid" style="text-align: center">Liste des Factures</h5>


                            </div>
                        </div>
                        <div class="panel-body" >

                            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date de creation</th>
                                    <th>Date echaillance paiement</th>
                                    <th>Total</th>
                                    <th>etat</th>
                                    <th>total paye</th>
                                    <th>rest paye</th>
                                    <th>Timbre fiscale</th>
                                    <th>Frais transport</th>
                                    <th>Num Bl</th>
                                    <th>Imprimer en pdf Bl</th>





                                </tr>
                                </thead>
                                <tbody>


                                {% for e in liste %}

                                    <tr>
                                        <th scope="row">{{e.id}}</th>

                                        <td>{{e.dateCreation | date}}</td>
                                        <td>{{e.dateechaillancePaiement | date}}</td>
                                        <td> {{ e.totalTTC }} </td>

                                        <td> <span class="label label-danger label-wide">{{e.etat}}</span></td>
                                        <td>{{e.totalPaye}}</td>
                                        <td>{{e.resteAPaye}}</td>
                                        <td>{{e.timbreFiscale}}</td>
                                        <td>{{e.fraisTransport}}</td>
                                        <td>{{e.getBonLivraison().getId()}}</td>
                                       <td> <button type="button" class="btn btn-info btn-xs btn-labeled next-btn">  <a href="{{ path('facturepdf',{'id':e.id}) }}" class="checkout-button button alt wc-forward rounded" style="color: aliceblue"> Imprimer </a><span class="btn-label btn-label-right"><i class="fa fa-pencil"></i></span></button></td>










                                        </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                            <script>
                                $(function($) {
                                    $('#example').DataTable();
                                });
                            </script>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}