{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
<div class ="container">
    <div class="panel panel-primary">
        <div class ="panel-heading">
            <i class ="icon_menu"></i>Liste Des Commandes D'approvisionnement
        </div>

        <div class ="panel-body">
            <table class ="table-condensed">

                {% for com in Tabcoms %}
                    <tr>
                        <th class="col-md-1">Numéro Commande</th>
                        <th class="col-md-1">Date Commande</th>
                    </tr>
                    <tr>
                        <td class ="col-lg-1">
                            {{ com.numeroC }}
                        </td>
                    <td class ="col-lg-1">
                        {{ com.dateCreation|date }}
                    </td>
                    </tr>
                    <tr>
                        <th class="col-md-1">Numéro</th>
                        <th class="col-md-1">Produit</th>
                        <th class="col-md-1">Qté</th>
                        <th class="col-md-1">Prix Total</th>
                        <th class="col-md-1">Prix Total Tva</th>
                        <th class="col-md-1">Action1</th>
                        <th class="col-md-1">Action2</th>
                    </tr>

        {% for lcom in Tablcoms %}
        {% if com.numeroC == lcom.getCommande().getnumeroC() %}
        <tr>
            <td class ="col-lg-1">{{ lcom.id }}</td>
            <td class ="col-lg-1">{{ lcom.getProduit().getLibelle() }}</td>
            <td class ="col-lg-1">{{ lcom.quantite }}</td>
            <td class ="col-lg-1">{{ lcom.total }}</td>
            <td class ="col-lg-1">{{ lcom.tva }}</td>
            <td class ="col-lg-1"><a href="{{ path('stockage_modifierLigneCommandeDApprovisionnement',{'id':lcom.id}) }}"><button type="button" class="btn btn-warning" >Modifier</button></a></td>
            <td class ="col-lg-1"><a href="{{ path('stockage_supprimerLigneCommandeDApprovisionnement',{'id':lcom.id}) }}"><button type="button" class="btn btn-danger" >Supprimer</button></a></td>
        </tr>
        {% endif %}
        {% endfor %}

                {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock %}
