{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}

{% block content %}

    <h2>liste des facture fournisseurs </h2>

    <table border="1">
        <tr>
            <th>numero</th>
            <th>Date creation</th>
            <th>etat</th>
            <th>total TTC</th>
            <th>total paye</th>
            <th>reste a payer</th>




        </tr>
        {%for f in factures %}  <tr>
            <td>{{f.numeroF}}</td>
            <td>{{f.dateCreation|date}}</td>
            <td>{{f.etat}}</td>
            <td>{{f.totalTTC}}</td>
            <td>{{f.totalPaye}}</td>
            <td>{{f.resteAPaye}}</td>








        </tr>    {% endfor %}

    </table>


{% endblock %}