{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}

{% block content %}

<h2>liste des facture fournisseurs impayées </h2>

<table border="1" class="display table table-bordered table-striped" cellspacing="0" width="100%">
    <tr>
        <th>numero</th>
        <th>Date creation</th>
        <th>etat</th>
        <th>total TTC</th>
        <th>total paye</th>
        <th>reste a payer</th>
        <th>Action</th>




    </tr>
    {%for f in factures %}  <tr>
        {% if(f.etat == "non_paye") %}
        <td>{{f.numeroF}}</td>
        <td>{{f.dateCreation|date('Y-m-d')}}</td>
        <td>{{f.etat}}</td>
        <td>{{f.totalTTC}}</td>
        <td>{{f.totalPaye}}</td>
        <td>{{f.resteAPaye}}</td>




            <td><a class="btn btn-success btn-xs btn-labeled" href="{{ path('tresorerie_ajouterRCParFacture',{'numeroF':f.numeroF}) }}">payer par cheque<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></a>
           <a class="btn btn-success btn-xs btn-labeled" href="{{ path('tresorerie_ajouterREParFacture',{'numeroF':f.numeroF}) }}">payer en espece<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></a> </td>



        {% endif %}






    </tr>    {% endfor %}

</table>


{% endblock %}