{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class ="container">
    <div class="panel panel-primary">
    <div class ="panel-heading">
        <i class ="icon_menu"></i>Ajouter emplacement
    </div>

    <div class ="panel-body">
    <table class ="table-condensed">
        <tr><td>Matricule entrepot</td><td>{{ form_widget(form.entrepot) }}</td></tr>
        <tr><td>adresse</td><td>{{ form_widget(form.adresse) }}</td></tr>
        <tr><td>capacité de stockage</td><td>{{ form_widget(form.capaciteStockage) }}</td></tr>
        <tr><td>quantité stockée</td><td>{{ form_widget(form.quantiteStocker) }}</td></tr>
        <tr><td>classe</td><td>{{ form_widget(form.classe) }}</td></tr>
        <tr>
            {#<td>Entrepot:*</td><td>{{ form_widget(form.entrepot) }}</td>#}
        </tr>
    </table>
    </div>
    </div>
        <tfoot>
        <input type="submit" value = "Valider" name="bt" class="btn btn-success">
        </tfoot>
    </div>
    {{ form_end(form) }}

{% endblock %}