{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
    <h1>Ajouter emplacement</h1>
    {{ form_start(form) }}
    <table>
        <tr><td>adresse</td><td>{{ form_widget(form.adresse) }}</td></tr>
        <tr><td>capacité de stockage</td><td>{{ form_widget(form.capaciteStockage) }}</td></tr>
        <tr><td>quantité stockée</td><td>{{ form_widget(form.quantiteStocker) }}</td></tr>
        <tr><td>classe</td><td>{{ form_widget(form.classe) }}</td></tr>
        <tr>
            {#<td>Entrepot:*</td><td>{{ form_widget(form.entrepot) }}</td>#}
        </tr>
        <tr><td></td><td>{{ form_widget(form.Ajout) }}</td></tr>
        {{ form_end(form) }}
    </table>




{% endblock %}