

{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}

{% block content %}
    <h1>Ajouter reglement fournisseur par chèque </h1>

    <table>
        {{ form_start(form) }}
        <tr><td>facture</td><td>{{ form_widget(form.facture) }}</td></tr>
        <tr><td>numero</td><td>{{ form_widget(form.numeroCheque) }}</td></tr>
        <tr>
            <td></td><td>{{ form_errors(form.numeroCheque) }}</td>
        </tr>
        <tr><td>montant</td><td>{{ form_widget(form.montant) }}</td></tr>
        <tr>
            <td></td><td>{{ form_errors(form.montant) }}</td>
        </tr>
        <tr><td>date création </td><td>{{ form_widget(form.dateCheque) }}</td></tr>
        <tr>
            <td></td><td>{{ form_errors(form.dateCheque) }}</td>
        </tr>



        <tr><td></td><td>{{ form_widget(form.Ajout) }}</td></tr>
        {{ form_end(form) }}
    </table>




{% endblock %}