{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}

{% block content %}
    <h1>Ajouter reglement fournisseur par espèce </h1>

    {{ form_start(form) }}
    <table>




        <tr><td>montant</td><td>{{ form_widget(form.montant) }}</td></tr>

        <tr>
            <td></td><td>{{ form_errors(form.montant) }}</td>
        </tr>
        <tr><td>facture</td><td>{{ form_widget(form.facture) }}</td></tr>




        <tr><td></td><td>{{ form_widget(form.Ajout) }}</td></tr>
        {{ form_end(form) }}
    </table>




{% endblock %}