{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}
{% block title %} table {% endblock %}

{% block content %}

    <h2>liste des reglements fournisseur par espèce  </h2>

    <table border="1">
        <tr>
            <th>montant</th>
            <th>Date creation</th>
            <th>facture</th>

        </tr>
        {%for r in reglemente %}  <tr>
            <td>{{r.montant}}</td>
            <td>{{r.dateCreation|date}}</td>
            <td>{{r.facture.numeroF}}</td>

            <td><a href="{{ path('tresorerie_modifierRE',{'id':r.id}) }}">modifier</a> </td>
            <td><a href="{{ path('tresorerie_supprimerRE',{'id':r.id}) }}">supprimer</a> </td>






        </tr>    {% endfor %}



    </table>


    <a href="{{ path('tresorerie_ajouterREspece') }}">Ajouter reglement en espece</a>


    <h2>liste des reglement fournisseur par chèque  </h2>

    <table border="1">
        <tr>
            <th>montant</th>
            <th>Date creation</th>
            <th>numero cheque</th>
            <th>Date cheque</th>
           <th>facture</th>

        </tr>
        {%for r in reglementc %}  <tr>
            <td>{{r.montant}}</td>
            <td>{{r.dateCreation|date('Y-m-d')}}</td>
            <td>{{r.numeroCheque}}</td>
            <td>{{r.dateCheque|date}}</td>
            <td>{{r.facture.numeroF}}</td>



            <td><a href="{{ path('tresorerie_modifierRC',{'id':r.id}) }}">modifier</a> </td>
            <td><a href="{{ path('tresorerie_supprimerRC',{'id':r.id}) }}">supprimer</a> </td>






        </tr>    {% endfor %}

    </table>

    <a href="{{ path('tresorerie_ajouterRCheque') }}">Ajouter reglement en cheque</a>


{% endblock %}